.header {
    background-color: red;
    box-sizing: border-box;
    height: 15vh;
    width: 100%;
}

.main {
    background-color: lightblue;
    box-sizing: border-box;
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.player-list {
    height: 80%;
    width: 15%;
    background-color: lightgreen;
}

.game-area {
    height: 80%;
    width: 50%;
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.game-area .game-cell {
    box-sizing: border-box;
    height: 33%;
    width: 33%;
    border: 2px solid black;
}

.stats {
    height: 80%;
    width: 15%;
    background-color: lightgreen;
}